<ion-header>
  <ion-toolbar>
    <ion-title>TikTok Hero App</ion-title>
    <ion-buttons slot="end">
      <div class="user">
        <img *ngIf="auth.avatarUrl" [src]="auth.avatarUrl" alt="" />
        <ion-icon *ngIf="!auth.avatarUrl" name="person-circle"></ion-icon>
        <span class="name">{{ displayName }}</span>
      </div>
      <ion-button fill="clear" (click)="logout()" aria-label="Logout">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
